<div class="container">
    <div class="row">
        <div class="col">
            <div class="jumbotron">
                <h1 class="display-4 font-weight-bold jumbtitle">{{name}}</h1>
                <p class="lead"><span class="font-weight-bold">By:</span> {{author}}</p>
                <p class="lead"><span class="font-weight-bold">Difficulty Level:</span> {{diff}}</p>
                <p class="lead"><span class="font-weight-bold">Time:</span> {{time}} minutes</p>
                <p class="lead"><span class="font-weight-bold">Serving Size:</span> {{serv}} people</p>

                <hr class="my-4">
                <h3>Ingredients:</h3>
                <ul id="recipe" class="list-group">
                    {{#each ingredients}}
                    <li >
                        {{this}}
                    </li> 
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</div>
</div>